#################################
# Environment / secrets
#################################
.env
*.env

#################################
# Python cache
#################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/

#################################
# VS Code settings
#################################
.vscode/

#################################
# Jupyter checkpoints/notebooks
#################################
**/.ipynb_checkpoints/

#################################
# Data (raw / sensitive)
#################################
data/raw/
output/
exports/
original datasets/

# Google API credentials
credentials.json
token*.json
client_secret_*.json
*.json
token.enc
gmail_credentials.json
*token*

# OS files
.DS_Store

# Logs
*.log
logs/
