beautifulsoup4==4.14.3
cryptography==48.0.0
google-api-python-client==2.196.0
google-auth==2.52.0
google-auth-oauthlib==1.4.0
numpy==2.4.4
pandas==3.0.2
psycopg2-binary==2.9.12
pycountry==26.2.16
python-dotenv==1.2.2
reportlab==5.0.0
requests==2.33.1